[run]
omit =
    # omit all functional tests
    */functional/*

    # all unit tests
    */unit/*

    # omit the devtools
    devtools/*

    # omit the conftest?
    conftest.py
    setup.py

    # This file is only used in unit tests
    f5/utils/iapp_parser.py